### This Notebook has got two parts. 
### You may want to work on the Part I first, which is at the bottom of this page. 
### Then come back to the Part II  in the top.

# Part II Problem Exercises

## Exercise 1, with List
Create a list called `years_list`, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980, the list would be `years_list = [1980, 1981, 1982, 1983, 1984, 1985]`.   ((We are NOT going to check if your year of birth in this exercise is matching with your true records.))

In which year in `years_list` was your third birthday? Remember, you were 0 years of age for your first year.

In [75]:
years_list = [2003,2004,2005,2006,2007,2008]

years_list[3]

2006

### Notes on Lists

A list is a sequence of elements ordered by their position. Duplicates are allowed. Lists provide high-performance indexed access. Since the list is a sequential data type, it possesses all the previously described operators for sequences. In addition, the following indexed, 0-based accesses and operations can be performed on lists:

`pop(i)` returns the ith element of the list and removes it from the list. By default (i. e., without specifying the index), the first element is returned.

`list[i] = element` replaces the element at position i with the passed element.

`append(element)` appends the element to the end of the list.

`insert(i, element)` inserts the element at index i in the list.

`extend(other_list)` appends the elements of other_list to the end of the list.

`count(value)` counts how many times the value value occurs in the list.

`index(value)` returns the index where the value value first occurs in the list.

`remove(value)` removes the element with the value value from the list. Only the first one will be deleted if multiple elements with this value exist. If there is no such value, a ValueError is raised.

`reverse()` reverses the order of the elements in the list.

`sort()` sorts the list in ascending order. An inverse (descending) sort is obtained with sort(reverse=True).

A list is a sequence of elements ordered by their position. Duplicates are allowed. Lists provide high-performance indexed access. Since the list is a sequential data type, it possesses all theoperators for sequences. In addition, 0-based accesses and operations can be performed on lists.

## Exercise 2, with List methods
Now create two lists, then add few elements, remove some elements in one of the lists, then `append` one list with another list, `reverse` the list and demonstrate the use of these methods in the lists.
For example,

`numbers = [1, 2, 3, 4]`

`names = ["Peter", "Tim", "Mike", "Tom", "Mike"]`

`names.append("Tom")`

Create such lists, experiment with these methods and print them.

In [85]:
numbers = [1, 2, 3, 4]

names = ["Peter", "Tim", "Mike", "Tom", "Mike"]

names.append("Tom")
print(numbers.pop(1))
print(names.count("Tom"))
numbers.sort()
new = numbers.extend(names)
print(new)

2
2
None

## Exercise 3, with Sets
Find the common elements of two lists, A and B, and return them as a set using 'intersection' method

Examples

list1 = [1, 2, 4, 7, 8] 

list2 = [2, 3, 7, 9] 

result = {2, 7}

In [91]:
list1 = set([1,2,4,7,8])
list2 = set([2,3,7,9])
result = list1.intersection(list2)
print(f"result = {result} ")

result = {2, 7}

## Exercise 3: Create Dictionary
Define a dict, `menu`, that contains the items and prices in rupees on a restaurant menu

- sandwich is 45
- coffee is 22
- juice is 50
- cake is 63

In [92]:
menu = {'samdwich':45,'coffee':22,'juice':50,'cake':63}

## Exercise 4: Odds and evens

1. Define two empty lists, `odds` and `evens`.
2. Ask the user, repeatedly, to enter a number.
     - If they enter an empty string, exit the loop
     - If they enter a non-numeric string, scold them and try again
     - Turn the user's input into an integer, and check if it's odd or even. If it's odd, add it to `odds`. If it's even, add it to `evens`.
3. After the loop, print both `odds` and `evens`.

In [94]:
odds = []
evens = []
while True:
    number =  input("Enter a number")
    if number =="":
        break
    try:
        number = int(number)
        if number % 2 == 0 :
            evens.append(number)
        else :
            odds.append(number)
    except ValueError:
        print("That is not a number")

print(f"Odds = {odds}")
print(f"evens = {evens}")

Odds = [5]
evens = [6]

## Exercise 5: Vowels, digits, and others

1. Define a `counts` dict with three keys: `vowels`, `digits`, and `others`.  All three should have the value 0.
2. Ask the user, repeatedly, to enter a string.
    - If they enter an empty string, stop asking, and print `counts`.
3. Go through each character in the entered string, and check:
    - Is it a vowel? If so, add 1 to `counts['vowels']`
    - Is it a digit? If so, add 1 to `counts['digits']`
    - If neither, add 1 to `counts['others']`.
    
Example:

    Enter string: hello
    Enter string: bye 123
    Enter string: [ENTER]
    {'vowels':3, 'digits':3, 'others':6}

In [103]:
count = {'vowels':0,'digits':0,'others':0}


while True:

    string = input("Enter a text")
    if string == "" :
        break
    else:
        for i in string:
            if i in ['a','e','i','o','u']:
                count['vowels']+=1
            elif i.isdigit():
                count['digits']+=1

            else:
                count['others']+=1

print(count)

{'vowels': 2, 'digits': 4, 'others': 2}

# Part I Practice Exercises

### To make things easier, first work on the Practice Exercises given in the pdf file and enter them in cells below.

## Excercise 1

In [1]:
shopping = ['bread','milk','eggs']
print(shopping)

['bread', 'milk', 'eggs']

In [2]:
for item in shopping:
    print(item)

bread
milk
eggs

In [3]:
mixed = [365,"days",True]
print(mixed)

[365, 'days', True]

## Excercise 2

In [4]:
len(shopping)

3

In [7]:
list1 = [1,2,3]
list2 = [4,5,6]
final_list = list1 + list2
print(final_list)

[1, 2, 3, 4, 5, 6]

In [9]:
list3 = ['iiserb']
list3*3

['iiserb', 'iiserb', 'iiserb']

## Excercise 3

In [10]:
shopping[1]

'milk'

In [11]:
shopping[1] = 'banana'
shopping

['bread', 'banana', 'eggs']

In [12]:
shopping[-1]

'eggs'

In [14]:
print(shopping[0:2])
print(shopping[0:3])
print(shopping[1:])

['bread', 'banana']
['bread', 'banana', 'eggs']
['banana', 'eggs']

## Excercise 4

In [15]:
shopping = ["bread","milk", "eggs"]
shopping.append("apple")
print(shopping)

['bread', 'milk', 'eggs', 'apple']

In [18]:
shopping = []
shopping.append(["bread","eggs","apple"])
shopping

[['bread', 'eggs', 'apple']]

In [20]:
shopping.insert(2,'ham')
shopping

[['bread', 'eggs', 'apple'], 'ham']

## Excercise 5

In [27]:
movie = {
"title": "The Godfather",
"director": "Francis Ford Coppola",
"year": 1972,
"rating": 9.2
}

movie['year']
movie['rating'] = (movie['rating']+9.3)/2
print(movie['rating'])

movie = {}
movie['title'] = "The Godfather"
movie['director'] = "Francis Ford Coppola"
movie['year'] = 1972
movie['rating'] = 9.2

movie['actors'] = ['Marlon Brando', 'Al Pacino', 'JamesCaan']

movie['other_details'] = {
'runtime': 175,
'language': 'English'
}

print(movie)

9.25
{'title': 'The Godfather', 'director': 'Francis Ford Coppola', 'year': 1972, 'rating': 9.2, 'actors': ['Marlon Brando', 'Al Pacino', 'JamesCaan'], 'other_details': {'runtime': 175, 'language': 'English'}}

## Excercise 5

In [36]:
employess = [0,1,2]

employess[0]= {"name":'John Mckee',"age":38,"department":'Sales'}
employess[1]= {"name":'Lisa Crawford',"age":29,"department":'Marketing'}
employess[2]= {"name":'Sujan Patel',"age":33,"department":'HR'}
employess[0]

{'name': 'John Mckee', 'age': 38, 'department': 'Sales'}

In [43]:
for i in range(len(employess)):
    for key,value in employess[i].items():
        print(f"{key} : {value}")
    print('-'*20)

name : John Mckee
age : 38
department : Sales
--------------------
name : Lisa Crawford
age : 29
department : Marketing
--------------------
name : Sujan Patel
age : 33
department : HR
--------------------

In [57]:
for employee in employess:
    if employee['name']=='Sujan Patel':
        print(f"name = {employee['name']}")
        print(f"age = {employee['age']}")
        print(f"department = {employee['department']}")

name = Sujan Patel
age = 33
department = HR

## Excercise 6

In [45]:
orders = {'apple':5, 'orange':3, 'banana':2}
print(orders.values())
print(list(orders.values()))

dict_values([5, 3, 2])
[5, 3, 2]

In [46]:
print(list(orders.keys()))

['apple', 'orange', 'banana']

In [48]:
for tuple in list(orders.items()):
    print(tuple)

('apple', 5)
('orange', 3)
('banana', 2)

## Excercise 7

In [59]:
t = ('bread', 'milk', 'eggs')
len(t)

3

In [60]:
t.append('apple')
t[2] = 'apple'

AttributeError: 'tuple' object has no attribute 'append'

In [61]:
print(t + ('apple', 'orange'))
print(t)

('bread', 'milk', 'eggs', 'apple', 'orange')
('bread', 'milk', 'eggs')

In [62]:
t_mixed = 'apple', True, 3
print(t_mixed)
t_shopping = ('apple',3), ('orange',2), ('banana',5)
print(t_shopping)

('apple', True, 3)
(('apple', 3), ('orange', 2), ('banana', 5))

## Excercise 8

In [63]:
s1 = set([1,2,3,4,5,6])
print(s1)
s2 = set([1,2,2,3,4,4,5,6,6])
print(s2)
s3 = set([3,4,5,6,6,6,1,1,2])
print(s3)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [64]:
s4 = {"apple", "orange", "banana"}
print(s4)

{'apple', 'banana', 'orange'}

In [65]:
s4.add('pineapple')
print(s4)

{'apple', 'pineapple', 'banana', 'orange'}

## Excercise 9

In [66]:
s5 = {1,2,3,4}
s6 = {3,4,5,6}

In [67]:
print(s5 | s6)
print(s5.union(s6))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [68]:
print(s5 & s6)
print(s5.intersection(s6))

{3, 4}
{3, 4}

In [69]:
print(s5 - s6)
print(s5.difference(s6))

{1, 2}
{1, 2}

In [71]:
print(s5 <= s6)
print(s5.issubset(s6))
s7 = {1,2,3}
s8 = {1,2,3,4,5}
print(s7 <= s8)
print(s7.issubset(s8))

False
False
True
True

In [72]:
print(s7 < s8)
s9 = {1,2,3}
s10 = {1,2,3}
print(s9 < s10)
print(s9 < s9)

True
False
False

In [73]:
print(s8 >= s7)
print(s8.issuperset(s7))
print(s8 > s7)
print(s8 > s8)

True
True
True
False